@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: white;
  color: black;
}

.header {
  <div class="lang">
  <button onclick="setLang('en')">EN</button>
  <button onclick="setLang('tr')">TR</button>
</div>

  background: hotpink;
  padding: 16px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.brand-name {
  font-size: 26px;
  font-weight: 800;
  margin-left: 10px;
  border: 2px solid black;
  padding: 4px 12px;
}

nav a {
  margin-left: 16px;
  color: black;
  font-weight: 600;
  text-decoration: none;
}

.lang button {
  background: orange;
  border: none;
  padding: 6px 10px;
  font-weight: bold;
}

.container {
  max-width: 800px;
  margin: 80px auto;
  text-align: center;
}

.cv-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 20px;
  padding: 40px;
}

.card {
  border: 3px solid orange;
  padding: 20px;
}

.tag {
  display: inline-block;
  background: hotpink;
  margin: 6px;
  padding: 6px 12px;
  font-weight: bold;
}

.timeline {
  width: 90%;
  margin: 80px auto;
  border-collapse: collapse;
}

.timeline th, .timeline td {
  border: 2px solid black;
  padding: 12px;
}

iframe {
  width: 100%;
  height: 350px;
  border: none;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: orange;
  text-align: center;
  font-weight: bold;
  padding: 8px;
}
